.characters-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.5rem;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.no-results {
  font-size: xx-large;
  color: $color-gold;
  padding: 20px;
  background-color: #0f0f1eb1;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
