$color-dark: #1a1a2e;
$color-darker: #0f0f1e;
$color-gold: #d4af37;
$color-red: #7b2429;
$color-green: #006622;
$color-blue: #0a3a66;
$color-border: #2a2a3e;

$font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-main;
}

body {
  background-color: $color-darker;
  color: #e0e0e0;
  line-height: 1.6;
}

@import "components/header";
@import "components/footer";
@import "components/filters";
@import "components/character-list";
@import "components/character-card";
@import "components/character-detail";
@import "pages/home-page";

.main {
  margin: 0 auto;
  padding: 3rem 2rem;
  min-height: calc(100vh - 200px);
  background-image: url("/images/background-harry-potter.jpg");
}
